$white: #FFFFFF;
$black: #000000;

$primary: #1F1F1F;
$secondary: #3A7CA5;

$disabled: #DFDFDF;

$body-bg: #F4F4F4;
$body-color: #242424;

$font-size-base: 1rem;

$spacer: 1rem;
$spacer-outline: $spacer * 0.25;
$spacer-inline: $spacer * 0.5;
$spacer-block: $spacer;
$spacer-section: $spacer * 2;

$radius: 1rem;
$radius-btn: $radius * 0.25;
$radius-card: $radius * 0.5;
