@import "@/assets/bootstrap/bootstrap-override";
@import "@/assets/variables.module";

* {
    line-height: normal;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.section-container {
    display: flex;
    flex-direction: column;
    gap: $spacer-xxl;
}

.card {
    padding: $spacer-md $spacer-lg;
    border-radius: $radius-lg;
}

.tag {
    padding: $spacer-xs $spacer-sm;
    border-radius: $radius-sm;
}

.section-container-grow {
    @extend .section-container;
    flex-grow: 1;
}

.transition-opacity {
    transition: opacity 250ms ease;

    &.hidden {
        opacity: 0;
        pointer-events: none;
        user-select: none;
    }

    &.shown {
        opacity: 1;
    }
}
