@import "@/assets/bootstrap/bootstrap-override";
@import "@/assets/variables";

* {
    line-height: normal;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.section-container {
    display: flex;
    flex-direction: column;
    gap: $spacer-container;
}

.section-container-grow {
    @extend .section-container;
    flex-grow: 1;
}

.transition-opacity {
    transition: opacity 250ms ease;

    &.hidden {
        opacity: 0;
        pointer-events: none;
        user-select: none;
    }

    &.shown {
        opacity: 1;
    }
}
