$white: #FFFFFF;
$black: #000000;

$primary: #1F1F1F;
$secondary: #3A7CA5;

$disabled: #DFDFDF;

$body-bg: #F4F4F4;
$body-color: #242424;

$font-size-base: 1rem;

$spacer: 1rem;
$spacer-xs: $spacer * 0.25;
$spacer-sm: $spacer * 0.5;
$spacer-md: $spacer * 0.75;
$spacer-lg : $spacer;
$spacer-xl: $spacer * 1.5;
$spacer-xxl: $spacer * 2;

$gutter-x: $spacer * 2;
$gutter-y: $spacer;

$border: 1rem;
$border-sm: $border * 0.0625;
$border-lg: $border * 0.125;

$radius: 1rem;
$radius-sm: $radius * 0.25;
$radius-lg: $radius * 0.5;
$radius-pill: $radius * 100;


:export {
    primary: $primary;
    secondary: $secondary;
}
