@import "@/assets/variables.module";

.transaction-history {
    &-actions {
        display: flex;
        justify-content: space-around;
    }

    &-action {
        &-link {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $spacer-xs;
        }

        &-icon {
            font-size: calc($font-size-base * 2);
        }

        &-label {
            font-weight: 500;
        }
    }

    &-items {
        display: flex;
        flex-direction: column;
        gap: $spacer-md;
    }

    &-item {
        display: flex;
        align-items: center;
        gap: $spacer-lg;

        &-icon {
            width: 0.5rem;
            height: 0.5rem;
            background-color: $secondary;
            border-radius: 50%;
            opacity: 0.5;
        }

        &-details {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            gap: $spacer-xs;
        }

        &-reason {
            font-weight: 600;
        }

        &-categories {
            display: flex;
            gap: $spacer-sm;
        }
    }
}
