@import "@/assets/css/variables";

.icon-picker {
    display: flex;
    flex-wrap: wrap;
    gap: $spacer-md;

    &-option {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $spacer-2xl + $spacer-sm;
        height: $spacer-2xl + $spacer-sm;
        border-radius: $radius-circle;
        background-color: $primary-150;
        color: var(--color, $primary-600);
        font-size: $text-lg;
        transition: transform $animation-duration-sm ease-in-out,
            background-color $animation-duration-sm ease-in-out,
            color $animation-duration-sm ease-in-out;

        &:hover {
            transform: scale(1.05);
        }

        &.selected {
            background-color: var(--color, $primary-600);
            color: $white;
        }
    }

    &-empty {
        color: $primary-500;
    }
}
