@import "@/assets/variables";

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    gap: $spacer-block;
    padding-top: $spacer-block;
    padding-bottom: $spacer-block;
}
