@import "@/assets/variables.module";

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    gap: $gutter-y;
    padding-top: $gutter-y;
    padding-bottom: $gutter-y;
}

.header {
    display: flex;
}
