@import "@/assets/variables.module";

.form {
    &-body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: $spacer-xl;
    }

    &-foot {
        display: flex;
        flex-direction: column;
        gap: $spacer-md;
    }

    &-button {
        width: 100%;
    }
}
