@import "@/assets/variables.module";

.category-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--color-rgb), 0.2);
    border: $border-sm solid var(--color);
}
